/* app css stylesheet */

* {
    margin: 0px;
    padding: 0px;
}

p {
    white-space: pre-wrap;
}

body {
    background-color: #dfdfdf;
    font-family: Arial, sans-serif;
}

#banner {
    width: 100%;
    height: 450px;
    position: absolute;
}

#wrapper {
    width: 974px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    position: relative;
    top: 250px;
}

#basic {
    color: #666;
    margin-bottom: 10px;
}

#top_card {    
    overflow: hidden;
    background: linear-gradient(rgba(255, 255, 255, 0.8), #fff);
}

#avatar {
    width: 240px;
    height: 240px;
    float: left;
}

#profile {
    overflow: auto;
    padding: 25px 40px;
}

h1 {
    font-size: 22px;
    color: black;
}

#profile > div {
    font-size: 18px;
    padding: 5px 0px;
}

#profile > span {
    margin: 2px 0px;
}

.overview > th {
    text-align: left;
    font-weight: normal;
    color: #999;
    padding: 2px 20px 0px 0px;
}

.overview > td {
    color: #333;
    padding-top: 2px;
    width: 100%;
}

#contact_info {
    clear: left;
    background: #fff url("img/bg_contact_info.png") repeat-x;
}

#contact_info > table {
    padding: 18px 20px;
}

.contactInfo > th {
    text-align: left;
    font-weight: normal;
    padding: 2px 20px 5px 0px;
    white-space: nowrap;
}

.contactInfo > td {
    width: 100%;
}

.contactInfo > th > img {
    width: 20px;
    height: 13px;
    padding: 2px 0px 5px;
}

.contactInfo > th > * {
    vertical-align: bottom;
}

.contactInfo a {
    color: #069;
    text-decoration: none;
}

#contact_footer {
    padding: 8px 10px;
    text-align: center;
    background-color: #ececec;
    border-top: 1px dashed #ccc; 
}

#contact_footer > * {
    vertical-align: middle;
}

h2 {
    padding: 7.5px 20px;
    color: white;
    background-color: #333;
    display: inline-block;
    font-size: 13px;
    margin-left: -20px;
}

#background {
    background-color: white;
    padding: 0px 20px;
    color: #333;
}

h3 {
    padding: 10px 0px;
    margin-bottom: 23px;
    font-weight: normal;
    font-size: 16px;
}

h3 > img {
    margin-right: 14px;
    height: 32px;
    color: #464646;
}

h3 > * {
    vertical-align: middle;
}

.section {
    margin: 28px 0px 8px;
    border-bottom: 1px solid #e8e8e8;
}

.section > div {
    margin-bottom: 30px;
}

h4 {
    font-size: 16px;
    margin-bottom: 4px;
}

h5 {
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}

.sectionHeader > span {
    color: #666;
    margin-top: 3px;
}

.sectionHeader > p {
    margin-top: 10px;
}

.sectionHeader > img {
    float: right;
}

#inlineList > ul {
    margin-top: 20px;
    list-style-type: ;
}

#inlineList > ul > li {
    margin: 0px 5px 5px 0px;
    display: inline-block;
    padding: 3px 13px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#inlineList > ul > li::before {
    content: "00";
    background-color: #1ba8e5;
    color: #1ba8e5;
    position: relative;
    left: -14px;
    padding: 3px 2px;
    border: 1px solid #1ba8e5;
    border-radius: 3px 0px 0px 3px;
}

input {
    font-size: inherit;
}

.card {
    background-color: #f2f2f2;
    border: 0px;
    font-size: inherit;
    color: #505e69;
    text-decoration: none;
    cursor: pointer;
}

.card:hover {
    color: white;
    background-color: #00a0dc;
}

.edit {
    padding: 2px 4px;
}

.edit::after {
    content: "\270E";
}

.add {
    margin-left: 5px;
    padding: 5px 10px ;
    float: right;
}

.add::before {
    content: "\2795";
}

.button {
    border-radius: 3px;
    vertical-align: bottom;
    padding: 4px 13px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.save {
    border: 1px solid #1b5480;
    background: linear-gradient(#287bbc, #23639a);
    color: white;
}

.save::after {
    content: "Save";
}

.cancel {
    border: 1px solid #a7a7a7;
    background: linear-gradient(#f2f2f2, #e9e9e9, #d8d8d8, #d1d1d1);
    color: #444;
}

.cancel::after {
    content: "Cancel";
}

.editForm {
    width: 100%;
    border: 1px solid #e9e9e9;
    margin: 0px -20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.editForm > div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin: 0px 6px 3px 0px;
    color: black;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:focus {
    border-color: #4993e5;
}

textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea:focus {
    border-color: #4993e5;
}