<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myCV" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myCV" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myCV" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myCV" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My CV</title>
    <meta name="description" content="An angular app that show my CV. Its UI based on LinkedIn.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="bodyController">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <img id="banner" src="img/banner.jpg" alt="banner"/>
    
    <div id="wrapper">
        
        <div id="basic">
            
            <div id="top_card">
                <img id="avatar" ng-src="{{basic.avatar}}" alt="Avatar"/>
                <div id="profile">
                    
                    <h1>
                        <span ng-show="display.basicName">
                            {{basic.name}}
                            <button ng-click="editForm('basicName', basic.name)" class="card edit"></button>
                        </span>
                        <form ng-show="!display.basicName" ng-submit="submitForm('basicName', basic, 'name', temp.basicName)">
                            <input type="text" ng-model="temp.basicName"/>
                            <button class="button save" type="submit"></button>
                            <button class="button cancel" type="button" ng-click="show('basicName')"></button>
                        </form>
                    </h1>
                    
                    <div>
                        <span ng-show="display.basicHeadline">
                            {{basic.headline}}
                            <button class="card edit" ng-click="editForm('basicHeadline', basic.headline)"></button>
                        </span>
                        <form ng-show="!display.basicHeadline" ng-submit="submitForm('basicHeadline', basic, 'headline', temp.basicHeadline)">
                            <input type="text" ng-model="temp.basicHeadline"/>
                            <button class="button save" type="submit"></button>
                            <button class="button cancel" type="button" ng-click="show('basicHeadline')"></button>
                        </form>
                    </div>
                    
                    <span ng-show="display.basicLocation">
                        {{basic.location}}
                        <button class="card edit" ng-click="editForm('basicLocation', basic.location)"></button>
                    </span>
                    <form ng-show="!display.basicLocation" ng-submit="submitForm('basicLocation', basic, 'location', temp.basicLocation)">
                        <input type="text" ng-model="temp.basicLocation"/>
                        <button class="button save" type="submit"></button>
                        <button class="button cancel" type="button" ng-click="show('basicLocation')"></button>
                    </form>
                    
                    <table>
                        <tr class="overview">
                            <th>Experience</th>
                            <td>
                                <span ng-repeat="experience in exp.experiences"><span ng-show="!$first">, </span><span>{{experience.company}}</span></span>
                                <a href="#experience" class="card edit"></a>
                            </td>
                        </tr>
                        <tr class="overview">
                            <th>Education</th>
                            <td>
                                <span>{{education.schools[0].name}}</span>
                                <a href="#education" class="card edit"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
            <form ng-submit="submitForm('basicContact', basic, 'contactInfo', temp.basicContact)">
                <div id="contact_info">
                    <table>
                        <tr class="contactInfo" ng-repeat="link in basic.contactInfo">
                            <th><img ng-src="{{link.icon}}" alt="Icon"/>{{link.method}}</th>
                            <td>
                                <span ng-show="display.basicContact">
                                    <a ng-href="{{link.protocal}}{{link.ref}}">{{link.display}}</a>
                                    <button class="card edit" type="button" ng-click="editForm('basicContact', basic.contactInfo)"></button>
                                </span>
                                <span ng-show="!display.basicContact">
                                    Link
                                    <input type="{{link.type}}" ng-model="temp.basicContact[$index].ref"/>
                                    Display
                                    <input type="text" ng-model="temp.basicContact[$index].display"/>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="!display.basicContact" colspan="2">
                                <button class="button save" type="submit"></button>
                                <button class="button cancel" type="button" ng-click="show('basicContact')"></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <div id="contact_footer">
                <img src="img/contact_info.png" alt="Contact Info"/>
                <span>Contact Info</span>
            </div>
            
        </div>
        
        <div id="background">
            
            <h2>Background</h2>
                
            <div id="summary" class="section">
                <h3><img ng-src="{{summary.icon}}" alt="Icon"/>{{summary.title}}</h3>
                <div ng-show="display.summary">
                    <button class="card edit" ng-click="editForm('summary', summary.paras)"></button>
                    <p>{{summary.paras}}</p>
                </div>
                <div ng-show="!display.summary">
                    <form class="editForm" ng-submit="submitForm('summary', summary, 'paras', temp.summary)">
                        <div>
                            <label>Summary</label>
                            <br/>
                            <textarea ng-model="temp.summary" rows="12"></textarea>
                        </div>
                        <button class="button save" type="submit"></button>
                        <button class="button cancel" type="button" ng-click="show('summary')"></button>
                    </form>
                </div>
            </div>

            <div id="experience" class="section">
                <h3>
                    <img ng-src="{{exp.icon}}" alt="Icon"/>
                    {{exp.title}}
                    <button class="card add" ng-click="editArrayForm('experience', {'icon':'img/hcmus.png'}, -1)">Add position</button>
                </h3>
                <div ng-show="display.experience" class="sectionHeader" ng-repeat="experience in exp.experiences">
                    <img ng-src="{{experience.icon}}" alt="Icon"/>
                    <h4>
                        {{experience.title}}
                        <button class="card edit" ng-click="editArrayForm('experience', experience, $index)"></button>
                    </h4>
                    <h5>{{experience.company}}</h5>
                    <span>
                        {{experience.startDate | date:'MMMM yyyy'}} - {{experience.endDate | date:'MMMM yyyy'}}
                        <span ng-show="hasData(experience.location)"> | {{experience.location}}</span>
                    </span>
                    <p>{{experience.description}}</p>
                </div>
                <div ng-show="!display.experience">
                    <form class="editForm" ng-submit="submitArrayForm('experience', exp.experiences, temp.experience)">
                        <div>
                            <label class="required">Company Name</label>
                            <br/>
                            <input type="text" ng-model="temp.experience.company" required/>
                        </div>
                        <div>
                            <label class="required">Title</label>
                            <br/>
                            <input type="text" ng-model="temp.experience.title" required/>
                        </div>
                        <div>
                            <label>Location</label>
                            <br/>
                            <input type="text" ng-model="temp.experience.location"/>
                        </div>
                        <div>
                            <label class="required">Time Period</label>
                            <br/>
                            <input type="month" ng-model="temp.experience.startDate" required/>
                            -
                            <input type="month" ng-model="temp.experience.endDate" required/>
                        </div>
                        <div>
                            <label>Description</label>
                            <br/>
                            <textarea ng-model="temp.experience.description" rows="6"></textarea>
                        </div>
                        <button class="button save" type="submit"></button>
                        <button class="button cancel" type="button" ng-click="show('experience')"></button>
                    </form>
                </div>
            </div>

            <div id="projects" class="section">
                <h3><img ng-src="{{prj.icon}}" alt="Icon"/>{{prj.title}}</h3>
                <div class="sectionHeader" ng-repeat="project in prj.projects">
                    <h4>{{project.name}}</h4>
                    <span>{{project.startDate}} - {{project.endDate}}</span>
                    <p>{{project.description}}</p>
                </div>
            </div>

            <div id="skills" class="section">
                <h3><img ng-src="{{skills.icon}}" alt="Icon"/>{{skills.title}}</h3>
                <div id="inlineList" ng-repeat="section in skills.sections">
                    <h5>{{section.title}}</h5>
                    <ul>
                        <li ng-repeat="value in section.values">{{value}}</li>
                    </ul>
                </div>
            </div>

            <div id="education" class="section">
                <h3><img ng-src="{{education.icon}}" alt="Icon"/>{{education.title}}</h3>
                <div class="sectionHeader" ng-repeat="school in education.schools">
                    <img ng-src="{{school.icon}}" alt="Icon"/>
                    <h4>{{school.name}}</h4>
                    <h5>{{school.degree}}, {{school.field}}<span>, </span>{{school.grade}}</h5>
                    <span>{{school.startDate}} - {{school.endDate}}</span>
                </div>
            </div>
                
        </div>
        
    </div>

    <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="components/usefulFunction/functions.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
